@mixin themify {
    @each $theme, $c in $themes {
        .page--#{$theme} {
            $colors: $c !global;
            @content;
        }
        body.#{$theme} {
            background-color: theme(page_background) !important;
            color: $off-black;
        }
        .#{$theme} {
            .navbar-default {
                background-color: theme(navbar);
                border-color: transparent;
                .navbar-brand, a {
                    color: theme(navbar_text) !important;
                }
            }
            .sidebar-module-inset {
                background-color: theme(sidebar);
                .sidebar-title {
                    color: theme(sidebar_title);
                }
                .sidebar-content {
                    color: theme(sidebar_text);
                }
            }
            footer {
                background-color: theme(footer);
                color: theme(footer_text);
            }
        }
    }
}

@function theme($color: base) {
    @return map-get($colors, $color);
}

@include themify {}
