@mixin themify {
  @each $theme, $c in $themes {
    .page--#{$theme} {
      $colors: $c !global;
        @content;
      }
      body.#{$theme} {
        background-color:theme(base) !important;
        color: $off-black;
      }

      .#{$theme} {
        .navbar-default {
          background-color: theme(dark);
          border-color: transparent;
          .navbar-brand, a {
            color: theme(light_font) !important;
          }
        }
        .sidebar-module-inset {
          background-color: theme(light);
        }
        footer {
          background-color: theme(dark);
        }
      }
    }
}

@function theme($color: base) {
    @return map-get($colors, $color);
}

@include themify {

}