$off-black: #444;
$colors:null;
$p-base-font: 20px;
$p-line-height: floor($p-base-font*1.3);
$h1: ($p-base-font + 30);
$h2: ($p-base-font + 15);
//$sidebar-title: 17px;
$sidebar-title: $p-base-font;
$sidebar-title-lineheight: $p-line-height;
//$sidebar-title-lineheight: 24px;
//$sidebar-content: 18px;
$sidebar-content: $p-base-font;
//$sidebar-content-lineheight: 21px;
$sidebar-content-lineheight: ($p-line-height - 2);

$screen-xxl-min: 1400px;
$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 480px;
$screen-xs-max: 479px;

$themes:
    ( blue_theme:
        ( page_background: lightblue,
          main_text: #777,
          sidebar: lighten(lightblue, 10%),
          sidebar_title: #444,
          sidebar_text: #777,
          navbar: darken(lightblue, 35%),
          navbar_text: #E4F9FF,),

      grey_theme:
        ( page_background: #ddd,
          main_text: #777,
          sidebar: lighten(#ddd, 7%),
          sidebar_title: #444,
          sidebar_text: darken(#eee, 50%),
          navbar: darken(#eee, 50%),
          navbar_text: #E4F9FF),

      red_theme:
        ( page_background: #A72A2A,
          main_text: #777,
          sidebar: lighten(#A72A2A, 15%),
          sidebar_title: #fff,
          sidebar_text: #fff,
          navbar: darken(#eee, 50%),
          navbar_text: #E4F9FF),

      all_white:
        ( page_background: #fff,
          main_text: #777,
          sidebar: #fff,
          sidebar_title: #444,
          sidebar_text: #777,
          navbar: #fff,
          navbar_text: $off-black),

      periwinkle:
        ( page_background: #9DBDC6,
          main_text: #777,
          sidebar: lighten(#9DBDC6, 20%),
          sidebar_title: #444,
          sidebar_text: #fff,
          navbar: #547179,
          navbar_text: #E4F9FF),

      earthy_theme:
        ( page_background: #eee,
          main_text: #777,
          sidebar: lighten(#444, 7%),
          sidebar_title: #444,
          sidebar_text: #fff,
          navbar: #444,
          navbar_text: #fff)
    );