$colors:null;
$p-base-font: 20px;
$p-line-height: floor($p-base-font*1.3);
$h1: ($p-base-font + 30);
$h2: ($p-base-font + 15);
//$sidebar-title: 17px;
$sidebar-title: $p-base-font;
$sidebar-title-lineheight: $p-line-height;
//$sidebar-title-lineheight: 24px;
//$sidebar-content: 18px;
$sidebar-content: $p-base-font;
//$sidebar-content-lineheight: 21px;
$sidebar-content-lineheight: ($p-line-height - 2);

$screen-xxl-min: 1400px;
$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 480px;
$screen-xs-max: 479px;

$off-black: #444;

$red_dark: #A72A2A;
$red_light: lighten($red_dark, 15%);

$blue_light: lightblue;
$blue_lighter: lighten($blue_light, 10%);
$blue_dark: darken($blue_light, 35%);

$gray_light: #ddd;
$gray_lighter: lighten($gray_light, 7%);
$gray_dark: #6f6f6f;

$gray_font: #777;
$gray_font_light: #eee;


$themes:
    ( blue_theme:
        ( page_background: $blue_light,
          main_text: $gray_font,
          sidebar: $blue_lighter,
          sidebar_title: $off-black,
          sidebar_text: $gray_font,
          navbar: $blue_dark,
          navbar_text: #E4F9FF),

      grey_theme:
        ( page_background: #ddd,
          main_text: $gray_font,
          sidebar: lighten(#ddd, 7%),
          sidebar_title: $off-black,
          sidebar_text: $gray_dark,
          navbar: $gray_dark,
          navbar_text: $gray_font_light),

      red_theme:
        ( page_background: $red_dark,
          main_text: $gray_font,
          sidebar: $red_light,
          sidebar_title: #fff,
          sidebar_text: #fff,
          navbar: $gray_dark,
          navbar_text: $gray_font_light),

      all_white:
        ( page_background: #fff,
          main_text: $gray_font,
          sidebar: #fff,
          sidebar_title: $off-black,
          sidebar_text: $gray_font,
          navbar: #fff,
          navbar_text: $off-black),

      periwinkle:
        ( page_background: #9DBDC6,
          main_text: $gray_font,
          sidebar: lighten(#9DBDC6, 20%),
          sidebar_title: $off-black,
          sidebar_text: #fff,
          navbar: #547179,
          navbar_text: $gray_font_light),

      earthy_theme:
        ( page_background: $gray_font_light,
          main_text: $gray_font,
          sidebar: lighten($off-black, 7%),
          sidebar_title: $off-black,
          sidebar_text: #fff,
          navbar: $off-black,
          navbar_text: #fff)
    );