// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
	//height: 100%;
	//min-height: 100%;
	background-color: #000000;
}
section {
	min-width: 960px;
	//opacity: 0;
	opacity: 1;
	//height: 600px;
	height: 900px;
}
main {
	overflow-x: hidden;
}
.slide-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.content-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding: 20px;
}

/* Slide 1 */
#slide-1 {
	z-index: 20;
	.slide-background {
		background-image:url('./san-diego3.JPG');
		//box-shadow: 0px 5000px 0px rgba(174, 174, 174, 0.16) inset;
	}
	.moving-content {
		//bottom: 200px;
		//top: auto;
		z-index: 20;
	}
	.tint {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		bottom:0;
		background-color: rgba(0,0,0, 0.05);
	}
	h2 {
		color: #fff;
		text-shadow: 0px 5px 30px rgba(150,150,150,1);
		letter-spacing: 1px;
	}
	h1 {
		color: #666;
	}
}

/* Slide 2 */
#slide-2 {
	z-index: 21;
	.slide-background {
		background-image:url('./san-diego2.JPG');
	}
	.moving-content {
		z-index: 21;
		//margin-left: -450px;
		//top: auto;
	}
	h2 {
		color: white;
	}
}

/* Slide 3 */
#slide-3 {
	z-index: 22;
	.slide-background {
		background-image:url('./Camelback.JPG');
	}
	.moving-content {
		z-index: 22;
		//margin-left: -239px;
	}
	h2 {
		color: white;
		background-color: rgba(0,0,0,0.6);
	}
}

#home {
	.navbar-default {
		background-color: white;
	}
	.panel {
		position: fixed;
		top: 21%;
		width: 360px;
		//left: 0;
		//right: 0;
		//margin: 0 auto;
		border-radius: 15px;
		z-index: 200;
		@media (min-width: $screen-xl-min) {
			right: 78px;
		}
		@media (min-width: $screen-xxl-min) {
			right: 150px;
		}
	}
	.moving-content {
		max-width: 700px;
		//position: absolute;
		position: fixed;
		//left: 336px;
		//left: 336px;
		@media (min-width: $screen-xl-min) {
			left: 78px;
			top: 290px;
		}
		@media (min-width: $screen-xxl-min) {
			left: 130px;
			top: 310px;
		}
		h2  {
			//color: #fff8de;
			padding: 10px 5px;
			line-height: 38px;
			margin-bottom: 12px;
			font-weight: 600;
			font-size: 45px;
			background-color: transparent;
		}

		p {
			width: 400px;
			color: #b2b2b2;
		}

		a {
			color: #b2b2b2;
			text-decoration: underline;
		}
	}
	h1 {
		font-size: 29px;
	}
	h2 {


	}
}



  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row-md-height {
    display: table-row;
  }

  .col-md-height {
    display: table-cell;
    float: none;
  }



/* vertical alignment styles */

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}



.container {
  float: center;
  vertical-align: middle;
}
