<div class="col-sm-4 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <div class="blog-post-text">
            <span class="sidebar-title"><strong>About <%= @user.name %>:</strong></span>
            <div class="image-container">
                <% if @user.avatar? %>
                <div class="avatar img-thumbnail">
                    <div class="img-avatar" style="background-image:image-url(<%= @user.avatar %>)">
                    </div>
                </div>
                <% end %>
                <span class="sidebar-content">
                    <% if @blog.about? %>
                        <%= @blog.about %>
                    <% else %>
                        <i>This user has currently has no bio.</i>
                    <% end %>
                </span>
            </div>
        </div>
        <% if @posts.exists? %>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <% @post_months.sort.reverse.each do |month, posts| %>
                    <li><%= link_to month.strftime("%B %Y"), month_index_path(@blog, month.strftime("%m"), month.strftime("%Y")) %></li>
                    <% end %>
                </ol>
            </div>
        <% end %>
    </div>
</div>