<% content_for(:title, "Blog Posts") %>

<%= render :partial => "blog_post", :post => @post %>

<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>





