<!-- Only this month -->
<% @post_month.each do |month, posts| %>
<% content_for(:title, month)%>
      <div class="blog-header">
        <h1><%= link_to month, blog_path(@blog) %></h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>


<!-- Show all posts in this month -->

<%= render(:partial => 'post') %>
           <% end %>

<p id="notice"><%= notice %></p>



        <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>
