@import "bootstrap-sprockets";
@import "bootstrap";
$off-black: #444;
$colors:null;
$p-base-font: 20px;
$p-line-height: floor($p-base-font*1.4);
$h1: ($p-base-font + 35);
$h2: ($p-base-font + 20);

$themes:
    ( blue_theme:
        ( base: lightblue,
          light: lighten(lightblue, 10%),
          dark: darken(lightblue, 35%),
          light_font: #E4F9FF),

      grey_theme:
        ( base: #ddd,
          light: lighten(#ddd, 7%),
          dark: darken(#eee, 50%),
          light_font: #E4F9FF),

      red_theme:
        ( base: #A72A2A,
          light: lighten(#A72A2A, 15%),
          dark: darken(#eee, 50%),
          light_font: #E4F9FF),

      all_white:
        ( base: #fff,
          light: #fff,
          dark: #fff,
          light_font: $off-black),

      periwinkle:
        ( base: #9DBDC6,
          light: lighten(#9DBDC6, 20%),
          dark: #547179,
          light_font: #E4F9FF)
    );

@mixin themify {
    @each $theme, $c in $themes {
        .page--#{$theme} {
            $colors: $c !global;

            @content;
        }

        body.#{$theme} {
          background-color:theme(base) !important;
          font-family: 'Josefin Sans', sans-serif;
          color: $off-black;
}

        .#{$theme} {
          .navbar-default {
            background-color: theme(dark);
            border-color: transparent;
            .navbar-brand, a {
              color: theme(light_font) !important;
            }
          }
          .sidebar-module-inset {
            background-color: theme(light);
          }
        }
    }
}

@function theme($color: base) {
    @return map-get($colors, $color);
}

@include themify {

}


body {
background-color:#eee !important;
font-family: Georgia, "Times New Roman", Times, serif;
color: $off-black;
}


.content {
padding-top:130px;
padding-left:75px;
padding-right:75px;
background-color:#fff;
}

.margin {
  padding-top:130px;
  padding-left:100px;
  padding-right:100px;
  background-color:#fff;
}

.header-image {
  background-position: center bottom;
  background-color: #999;
  background-size: cover;
  height: 600px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
  padding: 260px;
  text-align: center;

  .header-h1 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: 'Nunito', sans-serif;
  }

  .header-lead {
    color: white;
    text-align: center;
    padding: 25px;
  }
}

/*
 * Globals
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: $off-black;
}

h1 {
  font-size: 55px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
h2 {
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: 100;
}
h1, .h1, h2, .h2 {
  a {
    color: $off-black;
  }
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  //font-size: 20px;
  //line-height: 27px;
  color: #777;
  font-size: 25px;
  line-height: 37px;
}

a {
  font-weight: 600;
}


.nunito.extra-small-font {
  p {
    font-size: ($p-base-font - 4);
    line-height: ($p-line-height - 4);
  }
  .header-h1 {
    font-size: ($h1 - 4);
  }

}

.nunito.small-font {
  p {
    font-size: ($p-base-font - 2);
    line-height: ($p-line-height - 2);
  }
  .header-h1 {
    font-size: ($h1 - 2);
  }
}

.nunito.medium-font {
  p {
    font-size: $p-base-font;
    line-height: $p-line-height;
  }
  .header-h1 {
    font-size: $h1;
  }
}

.nunito.large-font {
  p {
    font-size: ($p-base-font + 2);
    line-height: ($p-line-height + 2);
  }
  .header-h1 {
    font-size: ($h1 + 2);
  }
}

.nunito.extra-large-font {
  p {
    font-size: ($p-base-font + 4);
    line-height: ($p-line-height + 4);
  }
  .header-h1 {
    font-size: ($h1 + 4);
  }
}

/*
 * Override Bootstrap's default container.
 */


#flat_layout {
  .container {
    @media (min-width: 1200px) {
      width: 970px !important;
    }
  }
  h1 {
    text-align: center;
  }
  .blog-description {
    text-align: center;
  }
  .content {
    padding-top: 157px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FFF;
  }
}
#traditional {
  .container {
    @media (min-width: 1200px) {
      width: 1200px !important;
    }
  }
  h1 {
    text-align: left;
  }
  .blog-description {
    text-align: left;
  }
}

.navbar-brand {
  font-weight: 600;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 0;
  padding-bottom: 10px;
}

.blog-description {
  font-size: 20px;
  color: #777;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 20px;
  border-radius: 4px;
  //margin-top: 83px;
  margin-top: 18px;
  p {
    font-size: 18px;
    line-height: 24px;
  }
  .image-container {
    text-align: center;
    .avatar {
      width: 225px;
      height: auto;
    }
  }
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comments {
  //padding: 20px 0;
}

.blog-post-meta {
  color: #666;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
