<%= render 'shared/flat_navigation' %>

<div class="container">
	<div class="content">

      <div class="row">

        <div class="col-sm-12 blog-main">

<%= yield %>

</div>
</div>

</div>
</div>

<%=  parent_layout('application') %>

